{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h3>Messaggi</h3>
    <br>
    <div id="messaggi"></div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script>
        (function() {
            var url = "ws://localhost:61613";
            var client = Stomp.client(url);
            var connectCallback = function(error) {
                if (error.command !== 'CONNECTED') {
                    console.log('Error: ' + error.headers.message);
                    return;
                }

                var subscribeCallback = function(message) {
                    if (message.body) {
                        document.getElementById("messaggi").innerHTML += message.body + '<br>';
                    } else {
                        console.log("Error: Empty message received");
                    }
                };
                client.subscribe("/queue/test", subscribeCallback);
            };

            client.connect("admin", "admin", connectCallback);
        })();
    </script>
{% endblock %}